/*技能*/
.skills{
	background: linear-gradient( 100deg,#aa77ffa3 0,#62cdff78 100%);
}
#skills-tags-group-all {
	display:flex;
	transform:rotate(0);
	transition:.3s
}
#skills-tags-group-all .tags-group-wrapper {
	margin-top:40px;
	display:flex;
	flex-wrap:nowrap;
	animation:rowup 40s linear infinite
}
#skills-tags-group-all .tags-group-icon-pair {
	margin-left:1rem
}
#skills-tags-group-all .tags-group-icon {
	display:flex;
	align-items:center;
	justify-content:center;
	color:#fff;
	font-size:66px;
	font-weight:700;
	box-shadow:0 2px 16px -3px rgba(0, 0, 0, 0.15);
	width:120px;
	height:120px;
	border-radius:30px
}
#skills-tags-group-all .tags-group-icon img {
	width:60%;
	margin:0 auto!important
}
#skills-tags-group-all .tags-group-icon-pair .tags-group-icon:nth-child(even) {
	margin-top:1rem;
	transform:translate(-60px)
}
#skills-tags-group-all .etc {
	margin-right:10px;
	margin-top:10px
}
#random-banner #skills-tags-group-all {
	transform:rotate(-30deg)
}
.skills {
	display:flex;
	justify-content:center;
	align-items:flex-start;
	flex-direction:column;
	width:50%;
	min-height:450px
}
.skills .skill-icon {
	width:32px;
	height:32px;
	border-radius:32px;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-right:8px
}
.skills .skills-list {
	display:flex;
	opacity:0;
	transition:.3s;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	flex-wrap:wrap;
	flex-direction:row;
	margin-top:10px;
}

@media screen and (max-width:768px){
	.skills .skills-list {
		display:flex;
		opacity:0;
		transition:.3s;
		position:absolute;
		width:100%;
		top:0;
		left:0;
		flex-wrap:wrap;
		flex-direction:row;
		margin-top:10px;
		animation: run 40s linear infinite;
	}
}
@keyframes run {
    0% {
        top: 0;
    }
	50% {
		top: -100px;
		display: none;
	}
    100% {
        top: -200px;
		display: none;
    }
}
.skills .skill-info {
	display:flex;
	align-items:center;
	margin-right:10px;
	margin-top:10px;
	background:#18171d;
	border-radius:40px;
	padding:4px 12px 4px 8px;
	border:1px solid #42444a;
	box-shadow:0 8px 16px -4px #2c2d300c;
}
.skills .skill-icon img {
	width:18px;
	height:18px;
	margin:0 auto!important
}
.skills .skills-style-group {
	position:relative
}
.author-content-item.skills .skills-style-group {
	position:relative
}
.skills:hover .skills-style-group #skills-tags-group-all {
	opacity:0
}
.skills:hover .skills-style-group .skills-list {
	opacity:1
}
.author-content-item .card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
.author-content-item .author-content-item-tips {
    opacity: .8;
    font-size: .6rem;
    margin-bottom: .5rem;
}
.author-content-item .card-content .author-content-item-title {
    margin-bottom: .5rem;
}
.author-content-item .author-content-item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}
.author-content-item.skills .skills-style-group {
    position: relative;
}
.skills .skills-style-group {
    position: relative;
}

[data-theme=dark] img {
    filter: brightness(1);
}
img {
    border-style: none;
    border-radius: 8px;
}
.author-content.author-content-item {
	height:19rem;
	background-color:#0084ff;
	background-position:left 28%;
	background-repeat:no-repeat;
	background-size:cover;
	color:#fff;
	overflow:hidden;
	margin-top:0;
	background-image:linear-gradient(-45deg,#0084ff,#0f4667,#2a6973 150%,#67044d);
	background-size:400%;
	animation:gradient 15s ease infinite
}
.author-content-item.comic-content .author-content-item-tips,.author-content-item.comic-content .author-content-item-title {
	z-index:2;
	color:#fff;
	pointer-events:none
}
@keyframes rowup {
	0% {
	transform:translateX(0)
}
100% {
	transform:translateX(-50%)
}
}
/*生涯*/
.author-content-item.careers {
	min-height: 400px;
	background: linear-gradient( 253deg,#aa77ffa3 0,#62cdff78 100%);
}
  
.author-content-item.careers img {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	transition: 0.6s;
  }
  
.author-content-item.careers .careers-group {
	margin-top: 12px;
}
  
.author-content-item.careers .careers-item {
	display: flex;
	align-items: center;
}
  
.author-content-item.careers .careers-item .circle {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border-radius: 16px;
}
  
.author-content-item.careers .careers-item .name {
	color: var(--sevene-secondtext);
}
.flickity-viewport {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%
  }
  
  .flickity-viewport .category-bar-item {
	display: flex;
	width: 45%;
	height: 240px;
	margin-left: 1px;
	flex-shrink: 0;
	position: relative
  }
  
  .flickity-viewport .category-bar-item:first-child {
	margin-right: 15px
  }
  
  .flickity-viewport .category-bar-item:last-child {
	margin-left: 15px
  }
  
  .flickity-viewport .category-bar-item:first-child .backcolor {
	border-radius: 0 10px 10px 0
  }
  
  .flickity-viewport .category-bar-item:last-child .backcolor {
	border-radius: 10px 0 0 10px
  }
  
  #about-page .author-content .author-content-item.careers {
	--webkit-backface-visibility: hidden;
	--webkit-transform: translate3d(0,0,0);
	--webkit-mask-image: -webkit-radial-gradient(white,#000)
  }
  
  .flickity-viewport .backcolor {
	margin-top: 80px;
	width: 100%;
	height: 70px
  }
  
  .flickity-viewport .caterconten {
	position: absolute;
	display: flex;
	margin-left: 20px
  }
  
  .flickity-viewport .category-bar-items {
	flex-direction: row-reverse;
	overflow-y: hidden
  }
  
  .flickity-viewport .picture-img {
	position: relative!important;
	width: 100%!important;
	height: 100%;
	flex-shrink: 0;
	bottom: 0!important;
	border-radius: 50%;
	object-fit: cover
  }
  
  .flickity-viewport .timeaxis-left .cartime {
	display: none
  }
  
  .flickity-viewport .timeaxis-left {
	width: 138px;
	height: 138px
  }
  
  .flickity-viewport .timeaxis-right {
	padding: 0 10px;
	margin-top: 100px;
	height: 100%;
	color: #fff
  }
  
  .flickity-viewport .cartime {
	background: #fff;
	padding: 3px 10px;
	border-radius: 30px
  }
  
  .flickity-viewport .occupation {
	font-weight: 700;
	font-size: 1.4rem;
	margin-top: 25px
  }
  
  .flickity-viewport .selfcomment {
	font-size: .72rem;
	margin-top: -7px
  }
  
  @media screen and (max-width: 768px) {
	.skills {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        min-height: 450px;
    }
	.flickity-viewport .caterconten {
		margin-left:0;
		margin-top: 40px;
		flex-direction: column;
		align-items: center;
		text-align: center
	}
  
	.flickity-viewport .category-bar-item {
		justify-content: center
	}
  
	.flickity-viewport .timeaxis-left {
		width: 100px;
		height: 100px
	}
  
	.flickity-viewport .timeaxis-right {
		margin-top: -5px
	}
  
	.flickity-viewport .cartime {
		display: none
	}
  
	.flickity-viewport .timeaxis-left .cartime {
		display: inline-block;
		position: absolute;
		padding: 0 5px;
		height: 25px;
		font-size: 8px;
		margin-left: -52.1%;
		border: 2px solid;
		top: 35%;
		line-height: 21px;
		font-weight: 700
	}
  }
.category-bar-items {
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
}
.category-bar-items::-webkit-scrollbar {
    display: none;
}